<div class="user_show">
  <h1>Hello User!</h1>

  <%= @user.username %>

  <% if @user.posts %>
    Here are your posts!
    <% @user.posts.each do |user_post|  %>
      <div class = 'post'><%= render 'shared/post' , :post => user_post %></div>
    <% end %>
  <% end  %>



</div>