<div class="answer_form">
  <%= form_for :post, url: create_post_path, :html_options => {:class => "jdjdj"}, remote: true do |f| %>

    <%= f.hidden_field :question_id, {value: question_id} %>


    <%= f.text_area :body, required: true %>

    <%= f.submit value: "Submit Answer" %>
  <% end %>
</div>
