<div class="vote_form">
   <%= form_for :vote, url: post_votes_path(post.id), remote: true do |f| %>
     <%= f.button 'Upvote', name: 'value', value: 1 %>
     <%= f.button 'Downvote', name: 'value', value: -1 %>
   <% end %>
</div>