<div class="questions_list">
  <ul>
    <li>
      <% @questions.each do |question| %>
        <div class="post">
          <%= render "posts/question", question: question %>
        </div>
      <% end %>
    </li>
  </ul>
</div>