<h1 class="create_your_question">Create your question!</h1>

<%= form_for @post do |f| %>

  <%= f.text_field :title, placeholder: "Title" %>

  <%= f.text_area :body, placeholder: "Body" %>

  <%= f.submit %>
<% end %>