<div class="question">
  <%= render "posts/post", post:  @question %>

  <div class="answers">
    <% @answers.each do |answer| %>
      <%= render "posts/post", post: answer %>
    <% end %>

    <%= render "/shared/answers_form", question_id: @question.id %>
  </div>

</div>

